@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
/* line 11, ../sass/_colors.scss */
.corporate .site-wrapper {
  border-top: 2px solid #22ABA6;
}
/* line 14, ../sass/_colors.scss */
.corporate input[type="submit"] {
  background: #22ABA6;
}
/* line 18, ../sass/_colors.scss */
.corporate input[type="text"]:focus, .corporate input[type="email"]:focus, .corporate input[type="password"]:focus, .corporate textarea:focus {
  border-color: #22ABA6;
}
/* line 22, ../sass/_colors.scss */
.corporate a {
  color: #22ABA6;
}
/* line 29, ../sass/_colors.scss */
.corporate .main-menu .menu li a:hover, .corporate .main-menu .menu li a.active {
  color: #22ABA6;
}
/* line 36, ../sass/_colors.scss */
.corporate .main-background {
  background-color: #22ABA6;
}
/* line 39, ../sass/_colors.scss */
.corporate .main-color {
  color: #22ABA6;
}
/* line 43, ../sass/_colors.scss */
.corporate h1 a, .corporate h2 a, .corporate h3 a, .corporate h4 a, .corporate h5 a, .corporate h6 a {
  color: #555;
}
/* line 45, ../sass/_colors.scss */
.corporate h1 a:hover, .corporate h2 a:hover, .corporate h3 a:hover, .corporate h4 a:hover, .corporate h5 a:hover, .corporate h6 a:hover {
  color: #22ABA6;
}
/* line 52, ../sass/_colors.scss */
.corporate .item-list .pager .pager-current {
  background-color: #22ABA6;
}
/* line 58, ../sass/_colors.scss */
.corporate .phones-block i, .corporate .address-block i {
  background-color: #22ABA6;
}
/* line 66, ../sass/_colors.scss */
.corporate .ui-widget .ui-widget-header .ui-state-default.ui-tabs-active a {
  background-color: #22ABA6;
}
/* line 73, ../sass/_colors.scss */
.corporate .ui-widget.ui-accordion .ui-accordion-header:not(.ui-state-active) {
  background: #22ABA6 !important;
}
/* line 78, ../sass/_colors.scss */
.corporate .slick .slick-dots li.slick-active button {
  background: #22ABA6;
}

/* line 85, ../sass/_colors.scss */
.cyan .site-wrapper .container {
  border-top: 2px solid #5bbfc5;
}
/* line 89, ../sass/_colors.scss */
.cyan input[type="submit"] {
  background: #5bbfc5;
}
/* line 93, ../sass/_colors.scss */
.cyan input[type="text"]:focus, .cyan input[type="email"]:focus, .cyan input[type="password"]:focus, .cyan textarea:focus {
  border-color: #5bbfc5;
}

/* line 100, ../sass/_colors.scss */
.medical .site-wrapper .container {
  border-top: 2px solid #18E2BA;
}
/* line 104, ../sass/_colors.scss */
.medical input[type="submit"] {
  background: #18E2BA;
}
/* line 108, ../sass/_colors.scss */
.medical input[type="text"]:focus, .medical input[type="email"]:focus, .medical input[type="password"]:focus, .medical textarea:focus {
  border-color: #18E2BA;
}

/* line 115, ../sass/_colors.scss */
.restaurant .site-wrapper .container {
  border-top: 2px solid #FF0000;
}
/* line 119, ../sass/_colors.scss */
.restaurant input[type="submit"] {
  background: #FF0000;
}
/* line 123, ../sass/_colors.scss */
.restaurant input[type="text"]:focus, .restaurant input[type="email"]:focus, .restaurant input[type="password"]:focus, .restaurant textarea:focus {
  border-color: #FF0000;
}

/* line 130, ../sass/_colors.scss */
.portfolio .site-wrapper .container {
  border-top: 2px solid #fba628;
}
/* line 134, ../sass/_colors.scss */
.portfolio input[type="submit"] {
  background: #fba628;
}
/* line 138, ../sass/_colors.scss */
.portfolio input[type="text"]:focus, .portfolio input[type="email"]:focus, .portfolio input[type="password"]:focus, .portfolio textarea:focus {
  border-color: #fba628;
}

/* line 145, ../sass/_colors.scss */
.orange .site-wrapper .container {
  border-top: 2px solid #ff8833;
}
/* line 149, ../sass/_colors.scss */
.orange input[type="submit"] {
  background: #ff8833;
}
/* line 153, ../sass/_colors.scss */
.orange input[type="text"]:focus, .orange input[type="email"]:focus, .orange input[type="password"]:focus, .orange textarea:focus {
  border-color: #ff8833;
}

/* line 160, ../sass/_colors.scss */
.tangerine .site-wrapper .container {
  border-top: 2px solid #e2492f;
}
/* line 164, ../sass/_colors.scss */
.tangerine input[type="submit"] {
  background: #e2492f;
}
/* line 168, ../sass/_colors.scss */
.tangerine input[type="text"]:focus, .tangerine input[type="email"]:focus, .tangerine input[type="password"]:focus, .tangerine textarea:focus {
  border-color: #e2492f;
}

/* line 175, ../sass/_colors.scss */
.gold .site-wrapper .container {
  border-top: 2px solid #c79c60;
}
/* line 179, ../sass/_colors.scss */
.gold input[type="submit"] {
  background: #c79c60;
}
/* line 183, ../sass/_colors.scss */
.gold input[type="text"]:focus, .gold input[type="email"]:focus, .gold input[type="password"]:focus, .gold textarea:focus {
  border-color: #c79c60;
}

/* line 16, ../sass/base_style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  color: #000000;
}
/* line 20, ../sass/base_style.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #555;
  text-decoration: none;
}

/* line 26, ../sass/base_style.scss */
h1 {
  font-size: 44px;
  line-height: 44px;
  margin: 0px 0px 44px;
}

/* line 32, ../sass/base_style.scss */
h2 {
  font-size: 36px;
  line-height: 42px;
  margin: 0px 0px 32px;
}

/* line 38, ../sass/base_style.scss */
h3 {
  font-weight: 400;
  font-size: 25px;
  line-height: 24px;
  margin: 0px 0px 33px;
}

/* line 45, ../sass/base_style.scss */
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin: 0px 0px 14px;
}

/* line 52, ../sass/base_style.scss */
h5 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  margin: 0px 0px 14px;
}

/* line 59, ../sass/base_style.scss */
h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0px 0px 14px;
}

/* line 66, ../sass/base_style.scss */
.teaser {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  margin: 0 0 30px;
}
/* line 70, ../sass/base_style.scss */
.teaser .teaser-inner {
  padding: 15px 20px 9px;
}
/* line 73, ../sass/base_style.scss */
.teaser h2 {
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: 22px;
  margin-bottom: 6px;
}

/* line 81, ../sass/base_style.scss */
.page-title {
  background-image: url(../images/shadow.png);
  background-repeat: no-repeat;
  background-position: center top;
  padding: 20px 0px;
}
/* line 86, ../sass/base_style.scss */
.page-title h1 {
  letter-spacing: normal !important;
  padding: 9px 0px;
  font-size: 26px !important;
  margin: 0px;
  line-height: 36px !important;
  color: rgba(254, 254, 254, 0.9) !important;
  font-weight: 500;
  font-family: 'Raleway',sans-serif;
}

/* line 98, ../sass/base_style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

/* line 104, ../sass/base_style.scss */
.ui-widget {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

/* line 110, ../sass/base_style.scss */
body * {
  outline: 0;
}

/* line 114, ../sass/base_style.scss */
ul {
  margin-bottom: 0;
  margin-top: 0;
}
/* line 117, ../sass/base_style.scss */
ul li {
  list-style-position: inside;
}

/* line 122, ../sass/base_style.scss */
a {
  text-decoration: underline;
}
/* line 124, ../sass/base_style.scss */
a:hover {
  text-decoration: none;
}

/* line 129, ../sass/base_style.scss */
input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

/* line 135, ../sass/base_style.scss */
input[type="submit"] {
  border: 0;
  color: #fff;
  padding: 0 12px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 40px;
  text-transform: uppercase;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* line 147, ../sass/base_style.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 152, ../sass/base_style.scss */
.main-menu {
  margin-top: 15px;
  padding: 10px 15px;
  background: #F3F3F3;
}
/* line 156, ../sass/base_style.scss */
.main-menu .menu {
  padding-left: 0;
}
/* line 158, ../sass/base_style.scss */
.main-menu .menu li {
  display: inline-block;
  margin-right: 20px;
}
/* line 161, ../sass/base_style.scss */
.main-menu .menu li:last-child {
  margin-right: 0;
}
/* line 164, ../sass/base_style.scss */
.main-menu .menu li a {
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

/* line 177, ../sass/base_style.scss */
.site-wrapper {
  margin: 0 auto;
}

/* line 181, ../sass/base_style.scss */
.pane-with-paddings {
  padding-left: 25px;
  padding-right: 25px;
}

/* line 187, ../sass/base_style.scss */
p:first-child {
  margin-top: 0;
}
/* line 190, ../sass/base_style.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 195, ../sass/base_style.scss */
.header-date {
  font-size: 12px;
  font-weight: 200;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* line 204, ../sass/base_style.scss */
.boxed .site-wrapper {
  max-width: 1170px;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

/* line 217, ../sass/base_style.scss */
.main-content .content {
  padding: 30px 0px 55px;
  background: #fff;
}
/* line 220, ../sass/base_style.scss */
.main-content .content.with-title {
  padding: 60px 0px 55px;
}
/* line 224, ../sass/base_style.scss */
.main-content .content .pane-page-content .panel-pane {
  margin-bottom: 30px;
}

/* line 231, ../sass/base_style.scss */
.read-more {
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent;
  padding: 0;
  text-decoration: none;
}
/* line 241, ../sass/base_style.scss */
.read-more::after {
  position: relative;
  margin-top: 0px;
  right: 0px;
  content: "ï…¸";
  font-family: FontAwesome;
  display: inline-block;
  width: 20px;
  font-size: 14px;
  vertical-align: middle;
}
/* line 252, ../sass/base_style.scss */
.read-more:hover {
  color: #555;
}

/* line 259, ../sass/base_style.scss */
.item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0 7px 0 0;
}
/* line 265, ../sass/base_style.scss */
.item-list .pager li a {
  color: #b9bec3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  border: 1px solid #eceef0;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  line-height: 1.42857143;
  text-decoration: none;
  font-size: 14px;
}
/* line 277, ../sass/base_style.scss */
.item-list .pager li.pager-current {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 14px;
  margin-right: 7px;
  color: #fff;
  font-weight: 400;
}

/* line 288, ../sass/base_style.scss */
a.colorbox {
  position: relative;
  display: block;
}
/* line 291, ../sass/base_style.scss */
a.colorbox img {
  display: block;
}
/* line 294, ../sass/base_style.scss */
a.colorbox::after {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\f002";
  font-family: 'FontAwesome';
  color: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  font-size: 36px;
  padding-left: 20px;
  padding-top: 20px;
}
/* line 316, ../sass/base_style.scss */
a.colorbox:hover::after {
  opacity: 1;
}

/* line 322, ../sass/base_style.scss */
.top-header {
  padding: 15px 0;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}

/* line 327, ../sass/base_style.scss */
.phones-block, .address-block {
  display: table;
}
/* line 329, ../sass/base_style.scss */
.phones-block .item-list, .address-block .item-list {
  vertical-align: middle;
  display: table-cell;
}
/* line 333, ../sass/base_style.scss */
.phones-block i, .address-block i {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  height: 30px;
  margin-right: 10px;
  padding-top: 8px;
  text-align: center;
  width: 30px;
  float: left;
  display: table-cell;
  vertical-align: middle;
}

/* line 347, ../sass/base_style.scss */
.header {
  padding-top: 10px;
  background: #fff;
}
/* line 350, ../sass/base_style.scss */
.header .phones-block, .header .address-block {
  margin-top: 13px;
}

/* line 356, ../sass/base_style.scss */
.phones-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 360, ../sass/base_style.scss */
.phones-block ul li {
  margin: 0;
  padding: 0;
}

/* line 367, ../sass/base_style.scss */
.ui-widget {
  padding: 0;
  border: 0;
}
/* line 370, ../sass/base_style.scss */
.ui-widget .ui-widget-header {
  background: none;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 375, ../sass/base_style.scss */
.ui-widget .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}
/* line 378, ../sass/base_style.scss */
.ui-widget .ui-widget-header .ui-state-default a {
  font-size: 14px;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px;
  border-radius: 2px 2px 0 0;
  margin-right: 2px;
  font-weight: 400;
  padding: 10px 15px;
}
/* line 386, ../sass/base_style.scss */
.ui-widget .ui-widget-header .ui-state-default.ui-tabs-active a {
  color: #fff;
}
/* line 392, ../sass/base_style.scss */
.ui-widget .ui-tabs-panel {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
/* line 398, ../sass/base_style.scss */
.ui-widget.ui-accordion .ui-accordion-header:not(.ui-state-active) {
  color: #fff;
  padding: 10px 15px 10px 30px;
  font-size: 14px;
  font-weight: 400;
  border: none;
}
/* line 404, ../sass/base_style.scss */
.ui-widget.ui-accordion .ui-accordion-header:not(.ui-state-active) span {
  background: none;
  border: 4px solid transparent;
  border-left: 4px solid #fff;
  width: 0;
  height: 0;
  left: 12px;
  top: 23px;
}
/* line 413, ../sass/base_style.scss */
.ui-widget.ui-accordion .ui-accordion-header:not(.ui-state-active).ui-state-active {
  background: none;
}

/* line 421, ../sass/base_style.scss */
.fieldable-panels-pane h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

/* line 429, ../sass/base_style.scss */
.panels-ipe-linkbar.inline li {
  display: inline-block;
}
